.response:hover {
  background-color: rgba(206, 206, 206, 0.548);
}
.modalRight {
  left: unset !important;
  right: 0 !important;
  top: -25px !important;
  bottom: 0 !important;
  width: 25rem;
  border-color: transparent;
}
.modalRight .modal-content {
  height: 100vh;
  overflow-y: scroll;
  border-radius: 0;
}
.modal-open .modal {
  overflow: unset !important;
}
.modalCenter {
}
.modalCenter .modal-content {
  height: 100vh;
  width: 100vh;
  overflow-y: scroll;
  border-radius: 0;
  border: none;
}
