#navbar-categories {
    display: flex;
    align-items: center;
    user-select: none;

    a {
        text-decoration: none;
        color: #757575;
        transition: color 0.4s ease-in-out;
        &:hover {
            color: darken($color: (#757575), $amount: 80);
        }
    }

    .scroll-content-wrapper {
        display: inherit;
        font-weight: 400;
        letter-spacing: 1.5px;
        overflow-x: hidden;
        .scroll-content {
            display: inherit;
            overflow-x: visible;
            transition: all 0.8s cubic-bezier(0,.38,0,.98);
            li {
                text-transform: uppercase;
                text-align: center;
                list-style-type: none;
                margin: 15px;
                white-space: nowrap;
            }
        }
    }

    .arrow-wrapper {
        margin: 0px 10px 3px;
    }
}
